<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Nunito:400,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link href="images/favicon_32.ico" rel="shortcut icon" type="image/x-icon">
    <link href="images/favicon_256.ico" rel="apple-touch-icon">

    <script src="js/main.js"></script>
    <title>Reviews</title>
</head>

<body>
    <section class="dashboard d-flex">
        <div class="dashboard-navigation  py-3" id="dashboard-navigation">
            <a class="navbar-brand mx-2 mb-4" href="dashboard.html">
                <img src="images/logo-white.svg" alt="weconnect logo" height="50"> Weconnect</a>
            <nav class="nav flex-column">
                <a class="nav-link active" href="dashboard.html">
                    <i class="fas fa-tachometer-alt mr-3"></i> Dashboard</a>
                <a class="nav-link" href="profile.html">
                    <i class="fas fa-user mr-3"></i>Business Profile</a>
                <a class="nav-link" href="reviews.html">
                    <i class="fas fa-star mr-3"></i> Reviews</a>
            </nav>
        </div>
        <div class="dashboard-main" id="dashboard-main">
            <header class="container  navbar">
                <div class="">
                    <a role="button" style="color:#333b4d; font-size:20px" onclick="openNav()">
                        <span class="open-menu">&#9776;</span>
                        <span class="ml-4 company-name"> Instrap Solutions Limited</span>
                    </a>
                </div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:#333b4d" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img class="mr-2 navbar-profile-image rounded-circle" src="images/avatar.jpg" alt="Event App Developer"> Godwin Ekuma
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" style="color:#333b4d" href="#">Sign Out</a>
                        </div>
                    </li>
                </ul>
            </header>
            <section class="dashboard-main-content py-3">
                <div class="container">
                    <h3 style="color:#333b4d">Reviews</h3>
                    <div class="">
                        
                        <div class="dashboard-reviews p-5 w-75 mx-auto">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="card-name mb-3">Godwin Ekuma</h4>
                                    <h5 class="card-title">Excellent Web Design Service</h5>
                                    <p class="card-text">My Website was given a sleek and modern design. You guys rocks!</p>

                                </div>
                                <div class="card-footer text-muted">
                                    02 March, 2016
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="card-name mb-3">Godwin Ekuma</h4>
                                    <h5 class="card-title">Excellent Web Design Service</h5>
                                    <p class="card-text">My Website was given a sleek and modern design. You guys rocks!</p>

                                </div>
                                <div class="card-footer text-muted">
                                    02 March, 2016
                                </div>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h4 class="card-name mb-3">Godwin Ekuma</h4>
                                    <h5 class="card-title">Excellent Web Design Service</h5>
                                    <p class="card-text">My Website was given a sleek and modern design. You guys rocks!</p>

                                </div>
                                <div class="card-footer text-muted">
                                    02 March, 2016
                                </div>
                            </div>
                        </div>
                    
                </div>
            </section>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>